[submodule "submodules/timm"]
	path = submodules/timm
	url = https://github.com/huggingface/pytorch-image-models
[submodule "submodules/fastai_course22"]
	path = submodules/fastai_course22
	url = git@github.com:fastai/course22.git
